<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgf1pQM_90FWCWN15VXdERiaX4hPtIzTA</string>
	<key>GCM_SENDER_ID</key>
	<string>369525553537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>cp-fitness-f1a68</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-fitness-f1a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369525553537:ios:d2fe7207c6914e4a1f5080</string>
</dict>
</plist>